﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@using System.Web.Optimization;

<div class="login-box">
    <div class="login-logo">
        <a>Ejemplo</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body" id="divEjemplo">
        <p class="login-box-msg">Ingrese sus credenciales</p>
        <form action="../../index2.html" method="post">
            <div class="form-group has-feedback">
                <input type="text" id="txtUser" class="form-control" placeholder="Usuario">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" id="txtPassword" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-12 text-center">
                    <input type="button" id="btnIngresar" class="btn btn-primary btn-block btn-flat" value="Ingresar">
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</div>
@Scripts.Render("~/bundles/login-js")
