﻿@using System.Web.Optimization;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/bootstrap-css")
    @Styles.Render("~/bundles/AdminLTE-css")
    @Scripts.Render("~/bundles/jquery-js")
    @Scripts.Render("~/bundles/bootstrap-js")
    @*@Scripts.Render("~/bundles/jqueryValidate-js")*@
    @Scripts.Render("~/bundles/pruebaLayout-js")
</head>
<body>
    <div id="bodyContent">
        @RenderBody()
    </div>
</body>
</html>
